@import 'config', 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.label {
  color: black;
  font: 8pt/1.125 sans-serif;
  margin: 0 auto;

  footer {
    border-top: 1px solid black;
    font: 7pt/1.15 sans-serif;
    margin: .05in .125in 0 .125in;
  }

  header {
    border-bottom: 1px solid black;
    font: 7pt/1.15 sans-serif;
    margin: 0 .125in .05in .125in;
  }

  section {
    margin: .02in .125in;
  }

  &__dispenser,
  &__receiver {
    margin: .05in 0;
    width: 50%;
  }

  &__drug,
  &__drug-diluent,
  &__drug-rate,
  &__expiration-datetime,
  &__hospital-name,
  &__sig,
  &__patient-name {
    font-weight: bold;
  }

  &__hospital-name {
    text-align: center;
  }

  &__patient-address-1,
  &__patient-address-2 {
    font: 7pt/1.15 sans-serif;
  }

  &__patient-address-1,
  &__patient-address-2,
  &__patient-name {
    text-transform: capitalize;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &.standard {
    display: flex;
    height: 2in;
    width: 3.625in;

    & .label__body {
      height: 1.9375in;
      margin: auto;
      overflow: hidden;
      padding: .0625in 0;
      width: 3.5in;
    }
  }

  &.infusion {
    display: flex;
    height: 5.125in;
    width: 3.125in;

    .label {
      &__body {
        height: 5in;
        margin: auto;
        overflow: hidden;
        padding: .0625in 0;
        width: 3in;
      }

      &__lower-half {
        height: 1.9375in;
        margin-top: .0625in;
      }

      &__upper-half {
        height: 3in;
        margin-bottom: .0625in;
      }
    }
  }
}

.hidden {
  display: none;
}

  @media screen {
  a {
    &:link {
      color: $color-text-link;
    }

    &:visited {
      color: $color-text-link-visited;
    }

    &:hover {
      color: $color-text-link-hover;
    }

    &:active {
      color: $color-text-link-visited;
    }
  }

  address {
    color: $color-text-invert;
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin: (.5 * $vertical-rhythm) $vertical-rhythm;
    text-align: right;
  }

  button {
    color: $color-text;
    font: bold 1rem/1.4 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: (.5 * $vertical-rhythm);
  }

  fieldset {
    padding: (.5 * $vertical-rhythm);
    margin-bottom: $vertical-rhythm;
    width: max-content;
  }

  html {
    color: $color-text;
    font-size: 112.5%;
  }

  h1 {
    color: $color-text-heading;
    font: bold 2rem/1.4 'Montserrat', sans-serif;
    margin: auto auto;
    text-align: center;
  }

  h2 {
    color: $color-text-heading;
    font: bold 1.5rem/1.866 'Montserrat', sans-serif;
  }

  h3 {
    color: $color-text;
    font: bold 1rem/1.4 'Montserrat', sans-serif;
  }

  input,
  textarea {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: (.5 * $vertical-rhythm);
    padding: 0 .25em;
  }

  select {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: (.5 * $vertical-rhythm);
    padding: .2em .25em;
  }

  label {
    font: 1rem/1.4 'Montserrat', sans-serif;
  }

  legend {
    color: $color-accent;
    font: 1rem/1.3 'Montserrat', sans-serif;
  }

  li {
    margin-left: 1em;
  }

  nav {
    a {
      &:visited {
        color: $color-text-link-visited;
      }

      &:hover {
        color: $color-text-link-hover;
      }

      &:active {
        color: $color-text-link-visited;
      }
    }

    ul {
      list-style: none;
    }
  }

  .help {
    ol,
    p,
    ul {
      font: 1rem/1.4 'Montserrat', sans-serif;
      margin-bottom: $vertical-rhythm;
      max-width: 33em;
    }
  }

  body {
    display: grid;
    gap: $vertical-rhythm;
    grid: "header header header  header" auto
          ".      form   preview .     " auto
          ".      form   .       .     " 1fr
          "footer footer footer  footer" auto
      / $vertical-rhythm 2fr 1fr $vertical-rhythm;
    min-height: 100vh;

    &>footer {
      align-items: center;
      align-self: end;
      background: $color-background-invert;
      display: flex;
      grid-area: footer;
      height: (3 * $vertical-rhythm);
      justify-content: space-between;
    }

    &>header {
      grid-area: header;
      height: (2 * $vertical-rhythm);
    }

    &.help {
      display: grid;
      gap: $vertical-rhythm;
      grid: "header header header  header" auto
            ".      aside  main    .     " auto
            ".      .      main    .     " 1fr
            "footer footer footer  footer" auto
        / $vertical-rhythm 1fr 2fr $vertical-rhythm;
      min-height: 100vh;

      &>main {
        grid-area: main;
      }

      &>aside {
        grid-area: aside;
        position: sticky;
        top: 0;
      }
    }
  }

  #label {
    &-information {
      grid-area: form;
    }

    &-preview {
      grid-area: preview;
      height: auto;
      position: sticky;
      top: 0;
      z-index: -1;
    }
  }

  .form {
    &__control {
      display: inline-block;
      margin: 0 (.5 * $vertical-rhythm);

      &>label {
        display: block;
      }
    }

    &__control-toggle {
      display: inline-block;
      margin: 0 (.5 * $vertical-rhythm);
    }

    &__row {
      display: flex;
      justify-content: start;
    }
  }



  #copies {
    width: 3em;
  }

  #drug-diluent-volume,
  #drug-form,
  #drug-strength {
    width: 7em;
  }

  #drug-no-strength,
  #rx-number-override {
    margin-left: 14em;
  }

  #help {
    float: right;
    margin-right: (2 * $vertical-rhythm);

    button {
      background: linear-gradient($color-accent, $color-primary);
      border: 1px outset $color-accent;
      color: $color-text-invert;

      &:hover {
        border: 1px inset $color-primary;
      }

      &:active {
        background: linear-gradient($color-primary, $color-accent);
        border: 1px inset $color-accent;
      }
    }
  }

  .label {
    &.standard {
      background: gray;
      border: 1px solid black;

      &>.label__body {
        background: white;
        border: 1px solid black;
        border-radius: .125in;
      }
    }

    &.infusion {
      background: gray;
      border: 1px solid black;

      &>.label__body {
        background: yellow;
        border: 1px solid black;
        border-radius: .125in;
      }

       .label__upper-half {
        border-bottom: 1px dashed gray;
      }

       .label__lower-half {
        border-top: 1px dotted gray;
      }
    }
  }

  #logo {
    display: block;
    height: (2 * $vertical-rhythm);
    margin-left: $vertical-rhythm;
  }

  label[for="patient-dob"] {
    margin-top: (1.5 * $vertical-rhythm);
  }

  #patient {
    &-middle-initial {
      width: 2em;
    }

    &-state {
      width: 4em;
    }

    &-zip-code {
      width: 7em;
    }
  }

  #sig {
    height: (2 * $vertical-rhythm);
    width: 16em;
  }

  .hidden {
    display: none;
  }
}

@media print {
  h2,
  body>header,
  body>footer,
  #label-information {
    display: none;
  }

  .label {
    page-break-after: always;
  }

  @page {
    margin: 0;
  }
}