// Typography adjustments

@media screen {
  p,
  li {
    max-width: 30em;
  }
}

// Northwell colors

$northwell-blue-dark:  #003ca5;
$northwell-blue-light: #009adf;
$northwell-green:      #3dad2c;
$northwell-purple:     #5c0b8a;
$northwell-gray:       #53565a;

// Bootstrap options

$primary:        $northwell-blue-dark;
$secondary:      $northwell-blue-light;
$body-color:     $northwell-gray;

$enable-print-styles: false;
$enable-shadows: true;
