$northwell-blue-dark: rgb(0, 60, 165);
$northwell-blue-light: rgb(0, 154, 223);
$northwell-gray: rgb(83, 86, 90);
$northwell-green: rgb(61, 173, 44);
$northwell-purple: rgb(92, 11, 138);

$color-primary: $northwell-blue-dark;
$color-accent: $northwell-blue-light;
$color-background: white;
$color-background-invert: $northwell-gray;
$color-text: $northwell-gray;
$color-text-heading: $northwell-blue-dark;
$color-text-invert: white;
$color-text-link: $northwell-blue-dark;
$color-text-link-visited: $northwell-purple;
$color-text-link-hover: $northwell-blue-light;

$vertical-rhythm: 1.4rem;
