.label {
  color: black;
  font: 8pt/1.3 sans-serif;

  footer {
    border-top: 1px solid black;
    font: 7pt/1.15 sans-serif;
  }

  header {
    border-bottom: 1px solid black;
    font: 7pt/1.15 sans-serif;
  }

  p {
    margin: 0;
    max-width: none;
    overflow: hidden;
    white-space: nowrap;
  }

  section {
    margin: 1px 0;
  }

  &__body {
    overflow: hidden;
  }

  &--standard {
    height: 2in;
    width: 3.625in;

    .label__body {
      height: 1.9375in;
      margin: 0.03125in 0.0625in;
      width: 3.5in;
    }

    .label__content {
      font: 7pt/1.15 sans-serif;
      height: inherit;
      padding: 0.0625in;
    }
  }

  &--infusion {
    height: 5.125in;
    width: 3.125in;

    header {
      border-bottom: 1px solid black;
      font: 7pt/1.15 sans-serif;
    }

    .label__body {
      height: 5in;
      margin: 0.0625in;
      width: 3in;
    }

    .label__lower-half {
      height: 1.625in;
      margin: 0.25in 0.25in 0 0;
    }

    .label__upper-half {
      height: 2.875in;
      margin: 0 0.25in 0 0;
    }
  }
}

@media screen {
  .label {
    background: gray;
    border: 1px solid black;

    &__body {
      border: 1px solid black;
      border-radius: 0.125in;
    }

    &--standard {
      .label__body {
        background: white;
      }
    }

    &--infusion {
      .label__body {
        background: yellow;
      }

      .label__lower-half {
        margin: 0.25in 0.125in 0.125in 0.125in;
      }

      .label__upper-half {
        margin: 0.125in 0.125in 0 0.125in;
      }
    }
  }
}
