@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-italic-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-bolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.label {
  color: black;
  font: 8pt/1.125 sans-serif;
  margin: 0 auto;
}

.label footer {
  border-top: 1px solid black;
  font: 7pt/1.15 sans-serif;
  margin: .05in .125in 0 .125in;
}

.label header {
  border-bottom: 1px solid black;
  font: 7pt/1.15 sans-serif;
  margin: 0 .125in .05in .125in;
}

.label section {
  margin: .02in .125in;
}

.label-dispenser, .label-receiver {
  margin: .05in 0;
  width: 50%;
}

.label.standard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2in;
  width: 3.625in;
}

.label.standard > .label-body {
  height: 1.9375in;
  margin: auto;
  overflow: hidden;
  padding: .0625in 0;
  width: 3.5in;
}

.label.infusion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.125in;
  width: 3.125in;
}

.label.infusion .lower-half {
  height: 1.9375in;
  margin-top: .0625in;
}

.label.infusion .upper-half {
  height: 3in;
  margin-bottom: .0625in;
}

.label.infusion > .label-body {
  height: 5in;
  margin: auto;
  overflow: hidden;
  padding: .0625in 0;
  width: 3in;
}

.label-drug, .label-drug-diluent, .label-drug-rate, .label-expiration-datetime, .label-hospital-name, .label-sig, .label-patient-name {
  font-weight: bold;
}

.label-hospital-name {
  text-align: center;
}

.label-patient-name, .label-patient-address-1, .label-patient-address-2 {
  text-transform: capitalize;
}

.label-patient-address-1, .label-patient-address-2 {
  font: 7pt/1.15 sans-serif;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none;
}

@media screen {
  a:link {
    color: #003ca5;
  }
  a:visited {
    color: #5c0b8a;
  }
  a:hover {
    color: #009adf;
  }
  a:active {
    color: #5c0b8a;
  }
  address {
    color: white;
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin: 0.7rem 1.4rem;
    text-align: right;
  }
  button {
    color: #53565a;
    font: bold 1rem/1.4 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0.7rem;
  }
  datalist {
    position: absolute;
  }
  fieldset {
    padding: 0.7rem;
    margin-bottom: 1.4rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  html {
    color: #53565a;
    font-size: 112.5%;
  }
  h1 {
    color: #003ca5;
    font: bold 2.058rem/1.4 'Montserrat', sans-serif;
    margin: auto auto;
    text-align: center;
  }
  h2 {
    color: #003ca5;
    font: 1.825rem/1.75 'Montserrat', sans-serif;
  }
  h3 {
    color: #53565a;
    font: 1.618rem/1.75 'Montserrat', sans-serif;
  }
  input,
  textarea {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: 0.7rem;
    padding: 0 .25em;
  }
  select {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: 0.7rem;
    padding: .2em .25em;
  }
  label {
    font: italic 1rem/1.4 'Montserrat', sans-serif;
  }
  legend {
    color: #009adf;
    font: 1.128rem/1.3 'Montserrat', sans-serif;
  }
  li {
    margin-left: 1em;
  }
  nav a:visited {
    color: #003ca5;
  }
  nav a:hover {
    color: #009adf;
  }
  nav a:active {
    color: #5c0b8a;
  }
  nav ul {
    list-style: none;
  }
  .help ol,
  .help p,
  .help ul {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: 1.4rem;
    max-width: 33em;
  }
  body {
    display: -ms-grid;
    display: grid;
    gap: 1.4rem;
    grid: "header header header  header" auto ".      form   preview .     " auto ".      form   .       .     " 1fr "footer footer footer  footer" auto/1.4rem 2fr 1fr 1.4rem;
    min-height: 100vh;
  }
  body > footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: end;
    background: #53565a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: footer;
    height: 4.2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body > header {
    grid-area: header;
    height: 2.8rem;
  }
  body.help {
    display: -ms-grid;
    display: grid;
    gap: 1.4rem;
    grid: "header header header  header" auto ".      aside  main    .     " auto ".      .      main    .     " 1fr "footer footer footer  footer" auto/1.4rem 1fr 2fr 1.4rem;
    min-height: 100vh;
  }
  body.help > main {
    grid-area: main;
  }
  body.help > aside {
    grid-area: aside;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #label-information {
    grid-area: form;
  }
  #label-preview {
    grid-area: preview;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
  }
  .form-control {
    display: inline-block;
    margin: 0 0.7rem;
  }
  .form-control > label {
    display: block;
  }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .clickable-form-control {
    display: inline-block;
    margin: 0 0.7rem;
  }
  #copies {
    width: 3em;
  }
  #drug-diluent-volume,
  #drug-form,
  #drug-strength {
    width: 7em;
  }
  #drug-no-strength,
  #rx-number-override {
    margin-left: 14em;
  }
  #help {
    float: right;
    margin-right: 2.8rem;
  }
  #help button {
    background: -webkit-gradient(linear, left top, left bottom, from(#009adf), to(#003ca5));
    background: linear-gradient(#009adf, #003ca5);
    border: 1px outset #009adf;
    color: white;
  }
  #help button:hover {
    border: 1px inset #003ca5;
  }
  #help button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#003ca5), to(#009adf));
    background: linear-gradient(#003ca5, #009adf);
    border: 1px inset #009adf;
  }
  .label.standard {
    background: gray;
    border: 1px solid black;
  }
  .label.standard > .label-body {
    background: white;
    border: 1px solid black;
    border-radius: .125in;
  }
  .label.infusion {
    background: gray;
    border: 1px solid black;
  }
  .label.infusion > .label-body {
    background: yellow;
    border: 1px solid black;
    border-radius: .125in;
  }
  .label.infusion .upper-half {
    border-bottom: 1px dashed gray;
  }
  .label.infusion .lower-half {
    border-top: 1px dotted gray;
  }
  #logo {
    display: block;
    height: 2.8rem;
    margin-left: 1.4rem;
  }
  label[for="patient-dob"] {
    margin-top: 2.1rem;
  }
  #patient-middle-initial {
    width: 2em;
  }
  #patient-state {
    width: 4em;
  }
  #patient-zip-code {
    width: 7em;
  }
  #sig {
    height: 2.8rem;
    width: 16em;
  }
  .hidden {
    display: none;
  }
}

@media print {
  h2,
  body > header,
  body > footer,
  #label-information {
    display: none;
  }
  .label {
    page-break-after: always;
  }
  @page {
    margin: 0;
  }
}
