/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout */

#label footer {
  border-top: 1px solid black;
  font: 7pt/1.15 sans-serif;
  margin: .05in .125in 0 .125in;
}
#label header {
  border-bottom: 1px solid black;
  font: 7pt/1.15 sans-serif;
  margin: 0 .125in .05in .125in;
}

#label section {
  margin: .05in .125in;
}

#label-dispenser,
#label-receiver {
  margin: .05in 0;
  width: 50%;
}

#label.standard {
  display: flex;
  height: 2in;
  width: 3.625in;
}

#label.standard>.label-body {
  height: 1.9375in;
  margin: auto;
  overflow: hidden;
  padding: .0625in 0;
  width: 3.5in;
}

#label.infusion {
  display: flex;
  height: 5.125in;
  width: 3.125in;
}

#label.infusion>.label-body {
  height: 5in;
  margin: auto;
  overflow: hidden;
  padding: .0625in 0;
  width: 3in;
}

#label.infusion .lower-half {
  height: 1.9375in;
  margin-top: .0625in;
}

#label.infusion .upper-half {
  height: 3in;
  margin-bottom: .0625in;
}

/* Module */

.flex-row {
  display: flex;
  justify-content: space-between;
}

#label {
  color: black;
  font: 8pt/1.125 sans-serif;
  margin: 0 auto;
}

#label-drug,
#label-drug-diluent,
#label-drug-rate,
#label-expiration-datetime,
#label-hospital-name,
#label-sig,
#label-patient-name {
  font-weight: bold;
}

#label-hospital-name {
  text-align: center;
}

#label-patient-name,
#label-patient-address-1,
#label-patient-address-2 {
  text-transform: capitalize;
}

/* State */

.hidden {
  display: none;
}

@media screen {

  /* Base */

  :root {
    --northwell-dark-blue: rgb(0, 60, 165);
    --northwell-gray: rgb(83, 86, 90);
    --northwell-green: rgb(61, 173, 44);
    --northwell-light-blue: rgb(0, 154, 223);
    --northwell-purple: rgb(92, 11, 138);
    --vertical-rhythm: 1.4rem;
  }

  a:link {
    color: var(--northwell-dark-blue);
  }

  a:visited {
    color: var(--northwell-purple)
  }

  a:hover {
    color: var(--northwell-light-blue);
  }

  a:active {
    color: var(--northwell-purple);
  }

  address {
    color: white;
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin: calc(.5 * var(--vertical-rhythm)) var(--vertical-rhythm);
    text-align: right;
  }

  button {
    color: var(--northwell-gray);
    font: bold 1rem/1.4 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: calc( .5 * var(--vertical-rhythm) );
  }

  datalist {
    position: absolute;
  }

  fieldset {
    padding: calc( .5 * var(--vertical-rhythm) );
    margin-bottom: calc( 1 * var(--vertical-rhythm) );
    width: max-content;
  }

  html {
    color: var(--northwell-gray);
    font-size: 112.5%;
  }

  h1 {
    color: var(--northwell-dark-blue);
    font: bold 2.058rem/1.4 'Montserrat', sans-serif;
    margin: auto auto;
    text-align: center;
  }

  h2 {
    color: var(--northwell-dark-blue);
    font: 1.825rem/1.75 'Montserrat', sans-serif;
  }

  h3 {
    color: var(--northwell-gray);
    font: 1.618rem/1.75 'Montserrat', sans-serif;
  }

  input,
  textarea {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: calc( .5 * var(--vertical-rhythm) );
    padding: 0 .25em;
  }

  select {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: calc( .5 * var(--vertical-rhythm) );
    padding: .2em .25em;
  }

  label {
    font: italic 1rem/1.4 'Montserrat', sans-serif;
  }

  legend {
    color: var(--northwell-light-blue);
    font: 1.128rem/1.3 'Montserrat', sans-serif;
  }

  li {
    margin-left: 1em;
  }

  nav a:visited {
    color: var(--northwell-dark-blue);
  }

  nav a:hover {
    color: var(--northwell-light-blue);
  }

  nav a:active {
    color: var(--northwell-purple);
  }

  nav ul {
    list-style: none;
  }

  .help ol,
  .help p,
  .help ul {
    font: 1rem/1.4 'Montserrat', sans-serif;
    margin-bottom: var(--vertical-rhythm);
    max-width: 33em;
  }

  /* Layout */

  body {
    display: grid;
    gap: var(--vertical-rhythm);
    grid: "header header header  header" auto
          ".      form   preview .     " auto
          ".      form   .       .     " 1fr
          "footer footer footer  footer" auto
      / var(--vertical-rhythm) 2fr 1fr var(--vertical-rhythm);
    min-height: 100vh;
  }

  body>footer {
    align-items: center;
    align-self: end;
    background: var(--northwell-gray);
    display: flex;
    grid-area: footer;
    height: calc(3 * var(--vertical-rhythm) );
    justify-content: space-between;
  }

  body>header {
    grid-area: header;
    height: calc(2 * var(--vertical-rhythm) );
  }

  body.help {
    display: grid;
    gap: var(--vertical-rhythm);
    grid: "header header header  header" auto
          ".      aside  main    .     " auto
          ".      .      main    .     " 1fr
          "footer footer footer  footer" auto
      / var(--vertical-rhythm) 1fr 2fr var(--vertical-rhythm);
    min-height: 100vh;
  }

  body.help>main {
    grid-area: main;
  }

  body.help>aside {
    grid-area: aside;
    position: sticky;
    top: 0;
  }

  #label-information {
    grid-area: form;
  }

  #label-preview {
    grid-area: preview;
    height: auto;
    position: sticky;
    top: 0;
    z-index: -1;
  }

  /* Module */

  .form-control {
    display: inline-block;
    margin: 0 calc( .5 * var(--vertical-rhythm) );
  }

  .form-control>label {
    display: block;
  }

  .form-row {
    display: flex;
    justify-content: start;
  }

  .clickable-form-control {
    display: inline-block;
    margin: 0 calc( .5 * var(--vertical-rhythm) );
  }

  #drug-diluent-volume,
  #drug-form,
  #drug-strength {
    width: 7em;
  }

  #drug-no-strength,
  #rx-number-override {
    margin-left: 14em;
  }

  #help {
    float: right;
    margin-right: calc(2 * var(--vertical-rhythm));
  }

  #help button {
    background: linear-gradient(var(--northwell-light-blue), var(--northwell-dark-blue));
    border: 1px outset var(--northwell-light-blue);
    color: white;
  }

  #help button:hover {
    border: 1px inset var(--northwell-dark-blue);
  }

  #help button:active {
    background: linear-gradient(var(--northwell-dark-blue), var(--northwell-light-blue));
    border: 1px inset var(--northwell-light-blue);
  }
  #label.standard {
    background: gray;
    border: 1px solid black;
  }

  #label.standard>.label-body {
    background: white;
    border: 1px solid black;
    border-radius: .125in;
  }

  #label.infusion {
    background: gray;
    border: 1px solid black;
  }

  #label.infusion>.label-body {
    background: yellow;
    border: 1px solid black;
    border-radius: .125in;
  }

  #label.infusion .upper-half {
    border-bottom: 1px dashed gray;
  }

  #label.infusion .lower-half {
    border-top: 1px dotted gray;
  }

  #logo {
    display: block;
    height: calc(2 * var(--vertical-rhythm));
    margin-left: var(--vertical-rhythm);
  }

  label[for="patient-dob"] {
    margin-top: calc(1.5 * var(--vertical-rhythm));
  }

  #patient-middle-initial {
    width: 2em;
  }

  #patient-state {
    width: 4em;
  }

  #patient-zip-code {
    width: 7em;
  }

  #sig {
    height: calc( 2 * var(--vertical-rhythm) );
    width: 16em;
  }

  /* State */

  .hidden {
    display: none;
  }

}